// Body
$body-light-bg: #F5F5F6;
$body-dark-bg: #E1E2E1;

// Typography
$font-family: 'Nunito', sans-serif;
$font-size: 14px;
$line-height: 1.5;
$t-duration: 1.2s;
// Colors Boolstrap
$bluee: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//primary_colors
$primary_green: #d4e4bc;
$primary_dark_green: #a3b28c;
$primary_light_green: #ffffef;
//secondary_colors
$secondary_blue: #8da1b9;
$secondary_dark_blue: #5f7389;
$secondary_light_blue:#bed2eb;
//text-colors
$white: #ffffff;
$blue: #3b4c59;
//third_colors
$third_purple: #8e6178;
//hover colors
$hover_s_blue:rgba(141, 161, 185, 0.4);

//spacing
$spacing: 15px;

//radius
$radius: 8px;

//grandezza fissa logo
$logo-size: 300px;