.btn-primary{
    text-align: center;
    background-color: $secondary_dark_blue;
    border: 1px solid $secondary_dark_blue;
    color: $white;
    padding: $spacing*0.4 $spacing*0.8;
    border-radius: $radius;
    text-transform: uppercase;
    text-decoration: none;
    width:125px;
    margin-left:$spacing;
    &:hover{
        cursor: pointer;
        text-decoration: none;
        transition-duration: 1.2s;
        background-color: $primary_green;
        border: 2px solid $primary_green;
        color: $secondary_dark_blue;
    }

}
.btn-back{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: none;
    padding: $spacing/2;
    border: 2px solid $blue;
    i{
        color: $blue;
    }
}
.btn-round{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    width: 2.2*$spacing;
    height: 2.2*$spacing;
    i{
        color:$blue;
    }
}
form{
    &.delete-form{
        background-color: none;
        border: none;
        border-radius: none;
    }
    .btn-delete{
        text-align: center;
        background-color: $white;
        border: 2px solid $secondary_dark_blue;
        color:  $secondary_dark_blue;
        padding: $spacing*0.4 $spacing*0.8;
        border-radius: $radius;
        text-transform: uppercase;
        text-decoration: none;
        width:125px;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            text-decoration: none;
            transition-duration: 1.2s;
            background-color: $body-dark-bg;
            border: 2px solid $body-dark-bg;
        }
    }
}


 
