*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: $font_family;
    font-size: $font_size;
    background-color: $body-light-bg;
    
}
main{
    min-height: calc(100vh - 150px);
}
main{
    min-height: calc(100vh - 150px);
    background-color: $primary_green;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
        text-decoration: none;
        transition-duration: $t-duration;
    }
} 
//background verde
.green-bg{
    background-color: $primary_green;
}
.white-bg{
    background-color: $white;
}
//border verde
.brd-green{
    border: 2px solid $primary_dark_green;
    border-radius: $radius;
}
.blue-t{
    color:$blue;
}
.blue-bg{
    background-color: $secondary_dark_blue;
    color: white;
}
//shortcuts per flex e no wrap
.d-flex{
    display: flex;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.d-no-wrap{
    flex-wrap: nowrap;
}
.g-2{
    flex-grow: 2;
}
.f-end{
   justify-content: flex-end;
}
.m-right-0{
    margin-right: 0;
}
.m-right{
    margin-right: $spacing;
}
.m-top{
    margin-top: $spacing;
}
.title-label{
    display: flex;
    padding: $spacing 2*$spacing;
    height: 3*$spacing;
    justify-content: flex-end;
    &.blue-label{   
        background-color: $secondary_dark_blue;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        border: 2px solid $secondary_dark_blue;
        border-bottom: none;
        color: $white;
        text-transform: uppercase;
    }
}
.xs-title-label{
    height: 3.8*$spacing;
    padding: $spacing/2 $spacing;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary_dark_blue;
    &.green-label{
        background-color: $primary_dark_green;
        color:$secondary_dark_blue;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        border: 2px solid $primary_dark_green;
        border-bottom: none;
        text-transform: uppercase;
    }
    &.blue-label{
        background-color: $secondary_dark_blue;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        border: 2px solid $secondary_dark_blue;
        border-bottom: none;
        color: $white;
        text-transform: uppercase;

    }
}
//margini
//doppio sotto e sopra
.t-b-pd{
    padding: 2*$spacing 0 2*$spacing;
}
//metà sopratotto
.half-t-b-pd{
    padding: $spacing 0 $spacing;
}
.r-l-pd{
    padding:  0 2*$spacing 0 2*$spacing;
}
.all-pd{
    padding:  2*$spacing 2*$spacing;
}
.all-half-pd{
    padding:  $spacing $spacing;
}

//ho usato bold invece che la classe bootstrap
.bold{
    font-weight:bold;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

@media screen and (max-width: 991px){
    h2{
        font-size: 24px;
    }
}