*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: $font_family;
    font-size: $font_size;
    background-color: $body-dark-bg;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
        text-decoration: none;
        transition-duration: 1.2s;
    }
} 
//shortcuts per flex e no wrap
.d-flex{
    display: flex;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.d-no-wrap{
    flex-wrap: nowrap;
}
.g-2{
    flex-grow: 2;
}