.dashboard-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .dashboard-card{
        width: calc(100% / 3);
        height: 350px;
        background-color: $white;
        //padding: $spacing $spacing*2;
        margin:$spacing/2 $spacing;
        border-radius: $radius;
        display: flex;
        flex-direction: column;
        .card-link{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4*$spacing;
            background-color: $secondary_blue;
            padding: $spacing 2*$spacing;
            text-align: center;
            a{
                color: $white;
                &:hover{
                    color:$third_purple;
                    transition-duration: $t-duration;
                }
            }
            &:hover{
                cursor: pointer;
                background-color:$hover_s_blue;
                transition-duration: $t-duration;
            }
        }
        .dash-i-box{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 4*$spacing;
                color:$secondary_blue;
            }
        }
    }
}