form{
    padding: $spacing 2*$spacing;
    border: 2px solid $secondary_dark_blue;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    label{
        font-size: $font-size;
        text-transform: uppercase;
        color: $secondary_dark_blue;
        font-weight: bold;
    }
    input{
        &.input-basic{
            border: 1px solid $body-dark-bg;
            border-radius: $radius/2;
            padding: $spacing/2 1.2*$spacing;
            line-height: $line-height;
        }
    }
    textarea{
        line-height: $line-height;
        &.input-basic{
            font-size: $font-size;
            padding: $spacing 1.2*$spacing;
            border: 1px solid $body-light-bg;
            border-radius: $radius/2;
        } 
    }
    input:focus,
    input:active {
        outline: none;
    }
    textarea:focus,
    textarea:active {
        outline: none;
    }
}