section{
    &.single-aprtm{
        background-color: $primary_green;
        padding: 2*$spacing 0 2*$spacing;
        color: $blue;
        .container{
            background-color: $body-light-bg;
            border-radius: $radius;
            border: 2px solid $third_purple;
        }
        .cover-box{
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 2px solid $third_purple;
            img{
                height: 300px;
                width: 100%;
                object-fit: cover;
                border-radius: $radius;
                padding-right: 2*$spacing;
            }
        }   
        .service-tag{
            color: $third_purple;
            margin-right: 2*$spacing;
            &:before {
                content: "\2022";
                color: $blue;
                margin-right: $spacing;
            }
        }
        .border-title{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $radius;
            background-color: $third_purple;
            color: $white;
            position: relative;
            transform: translateY(-2*$spacing);
            border: 2px solid $body-light-bg;
            border-bottom: none;
        }
        .bottom-link{
            align-self: flex-end;
            position:relative;
        }
        .add-info{
            position: absolute;
            transform: translate(-75%, 100%);
        }
        .end-info{
            align-items: center;
            .btn-delete{
                background-color: $body-light-bg;
            }
        }
        .btn-cirle{
            position: absolute;
            right: $spacing;
            transform: translateY($spacing*2);
        }
        .map-box{
            align-items: center;
            justify-content: center;
        }
        .buy-sponsorship{
            border-top: 2px solid $third_purple;
            a{
                &.link-sponsor{
                    font-weight: bold;
                    text-decoration:underline;
                    color:$blue;
                    &:hover{
                        transform: scale(6px);
                        transition-duration: $t-duration;
                    }
                }
            }
        }

    }
    
}
